
.ContactItem{
    width:100%;
    
  &:not(:last-child){
    margin-bottom: 1.5rem;
  }
    .contact{
        display: flex;
        align-items: center;
        height: 7rem;
        background-color: #191D2B;
        img{
            border: 1px solid black;
            padding:1rem;
            margin:2rem;
        }
        .right-items{
            h6{
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
    }
}
.ContactPage{
    display: flex;
    .ContactSection{
        width: 100%;
    }
    @media screen and (max-width: 900px) {
        flex-direction: column;
     } 
}
.map-sect{
    width: 100%;
    iframe{
        width: 100%;
        height: 100%;
        @media screen and (max-width: 900px) {
            height: 25rem;
         }
    }
}
.ContactSection{
    margin-left: 2rem;
    @media screen and (max-width: 900px) {
        margin:2rem 0;
     } 
}
.contact-title{
    margin-bottom:3rem;
}