.imageSection{
    display: flex;
    margin:3rem 0;
    .image{
        width:100%;
        height:55vh;
        margin-bottom: 1rem;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }
    .about-info{
        margin-left: 3rem;
        h4{ font-size: 2rem;
            padding-bottom: 1.5rem;
        }

    .about-details{
        display: flex;
        margin-bottom: 1rem;
        .section-right{
            margin-left: 3rem;
        }
        
    }
    }
    @media screen and (max-width:1400px){
        flex-direction: column;
        .about-info{
            margin-left:0;
        }
    }
}
.bnt-cv{
    background-color: aqua;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 1.5px;
    padding:0.6rem;
    text-transform: uppercase;
    border: none;
    width: 10rem;
    outline: none;
    cursor: pointer;
    position: relative;
    &::after{
        content:"";
        position: absolute;
        left: 0;
        bottom: 0;
        width:0;
        height: .3rem;
        background-color: #a4acc4;
        transition:all 0.4s ease-in-out;
    }
    &:hover::after{ width:100%;}
}