.title{
    text-transform: uppercase;
    display: flex;
    color:#fff;
    position:relative;
    padding-bottom: .1rem;
    letter-spacing: 3px;
    &::before{
        content:"";
        position: absolute;
        bottom: 0;
        left: 3rem;
        background-color: #0381FF38;
        width:6rem;
        height:.3rem; 
        border-radius: 50px;
    }
    &::after{
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: aqua;
        width:3rem;
        height:.3rem;
        border-radius: 50px;
    }

    span{
        position:absolute;
        top:15%;
        left:0;
        opacity:0.15;
        font-size: 4rem;
        @media screen and (max-width:800px){
            font-size: 2rem; 
        }
    }
}
