@import './components/Navbar.scss';
@import './components/About.scss';

*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: aqua;
}
body::-webkit-scrollbar-track{
    background-color: #777;
}
body{
    color: #a4acc4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.App{
    color: #a4acc4;
    .sidebar{
        background-color: #191d2b; 
        width:16%;
        position:fixed;
        z-index: 11;
        height:100%;
        border-right: 1px solid #2e344e;
        transition: all .4s ease-in-out;
        @media screen and (max-width: 1000px) {
            transform: translateX(-100%);
            width:30%;
        }
        @media screen and (max-width: 411px) {
            width:50%;
        }
        
    }
    .nav-toggle{
        @media screen and (max-width: 1000px) {
            transform: translateX(0);

        }
    }
    .main-content{
        width:84%;
        background-color:#10121B;
        margin-left:16%;
        min-height:100vh;
        position:relative;
        .content{
        padding:5rem 10rem;
        }   
        @media screen and (max-width: 1000px) {
           margin-left: 0;
           width: 100%;
        } 
  }
}
.nav-btn{
    position: absolute;
    z-index: 10;
    right: 10%;
    top:10%;
    width: 4rem;
    height: 4rem;
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .line1, .line2 , .line3{
        width:100%;
        height:.4rem;
        background-color: aqua;
        pointer-events: none;
        &:not(:last-of-type){
            margin-bottom:.5rem;
        }
    }
    @media screen and (max-width: 1000px) {
      display: block;
     } 

}
span{
    color:aqua;
}
@media screen and (max-width: 411px) {
    html{   
    font-size:70%;
    }
}